.content {
    width: 450px;
    height: 200px;
    background-color: rgb(136, 16, 16);
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 0 0 15px rgb(243, 9, 9);
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    color: #FFF5E1;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}


label {
    color: #1a0107;
}

input {
    border-radius: 20px;
    color: #FDEBD0;
    border: 2px double rgb(165, 30, 53);
    background-color: maroon;
    margin-left: 15px;
    height: 25px;
}


button {
    border-radius: 20px;
    color: #FDEBD0;
    border: 2px double rgb(163, 44, 64);
    background-color: maroon;
    margin-left: 25px;
    height: 30px;
}


h2 {
    text-align: center;
    color: #D4AF37;
}

body {
    background-color: rgb(112, 3, 3);
}

button:hover {
    background-color: rgb(199, 60, 60) ;
    color: black;
}

input:focus {
    background-color: rgb(199, 60, 60) ;
    color: black;
}